<div class="container mx-auto max-w-md p-4 bg-white  sm:p-8 dark:bg-gray-800 dark:border-gray-700">     
    <div class="flex w-full min-h-full flex-col justify-center px-6  lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <a routerLink="/">
          retour
        </a>
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Modifier contact</h2>
      </div>
  
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form #updateContact="ngForm" (ngSubmit)="onSubmit(updateContact)" class="space-y-6">
          <div class="group py-2 px-4 bg-gray-80  shadow-md rounded-md border border-gray-200 my-2">
            <div class="flex justify-around">
                <div class="flex-1 min-w-0 ">
                    <p class="text-lg font-medium text-orange-400 truncate dark:text-white">
                        {{name}}
                    </p>
                    <p class="text-sm font-medium text-gray-600 truncate dark:text-white">
                        {{telephone}}
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                        {{mail}}
                    </p>
                </div>
            </div>
          </div>
          <div>
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Nom</label>
                <div class="mt-2">
                  <input [placeholder]="name" name="name" [(ngModel)]="name"
                    id="name" type="text" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
                </div>
            </div>

          <div>
            <label for="telephone" class="block text-sm font-medium leading-6 text-gray-900">Telephone </label>
            <div class="mt-2">
              <input placeholder="Numero de telephone" name="telephone" [(ngModel)]="telephone"
                id="telephone" type="tel" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
            </div>
          </div>
  
          <div>
            <div class="flex items-center justify-between">
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
            </div>
            <div class="mt-2">
              <input placeholder="adress mail du contact" name="mail" [(ngModel)]="mail"
              id="mail" type="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
            </div>
          </div>
  
          <div >
            <button 
            type="submit" class="flex justify-center w-full rounded-md bg-gray-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">modifier</button>
          </div>
        </form>
  
      </div>
    </div>
  </div>


