
<div class="container mx-auto max-w-md p-4 bg-white  sm:p-8 dark:bg-gray-800 dark:border-gray-700">     
  <div class="flex w-full min-h-full flex-col justify-center px-6  lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Connexion</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Address mail*</label>
          <div *ngIf="userForm.controls['mail'].invalid && (userForm.controls['mail'].dirty || userForm.controls['mail'].touched)"
          class="text-red-700 text-sm">
            saisissez une adresse mail valid
          </div>
          <div class="mt-2">
            <input placeholder="adress mail" formControlName="mail"
              id="email" type="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
          </div>
          
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Mot de pass*</label>
          </div>
          <div *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)"
          class="text-red-700 text-sm">
            minimum 4 caractere
          </div>
          <div class="mt-2">
            <input placeholder="mot de pass" formControlName="password"
            id="password" type="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
          </div>
          
        </div>

        <div>
          <div *ngIf="userForm.invalid && ( (userForm.controls['password'].dirty || userForm.controls['password'].touched) || (userForm.controls['mail'].dirty || userForm.controls['mail'].touched))"
          class="text-red-700 text-sm">
            Verifier vos coordonées
          </div>
          <button [class.cursor-not-allowed]="userForm.invalid"
          type="submit" class=" flex justify-center w-full rounded-md bg-gray-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">connecter</button>
        </div>
        
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        Nouveau?
        <a routerLink="/inscription" class="font-semibold leading-6 text-gray-600 hover:text-gray-500">creer un compte</a>
      </p>
    </div>
  </div>
</div>